{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
    Category: {{ category }}
{% endblock header %}

{% block content %}
<i>{{ category.description }}</i>
<ul>
    {% for item in category.items.all %}
        <li>
        <a href="{% url 'item' item.id %}">{{ item }}</a>
        {% for category in item.categories.all %}
            <a href="{% url 'category' category.id %}"><span class="badge badge-primary">{{ category }}</span></a>
        {% endfor %}
        {% if item.room %}
            <a href="{% url 'room' item.room.id %}"><span class="badge badge-dark">{{ item.room }}</span></a>
        {% endif %}
        {% if item.owner %}
            <a href="{% url 'user' item.owner.id %}"><span class="badge badge-info">{{ item.owner.get_full_name }}</span></a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}