{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
    Items without room
{% endblock header %}

{% block content %}
<a href="{% url 'items' %}">All items</a> ({{ items_count }}) |
<a href="{% url 'items_wo_category' %}">Items without category</a> ({{ items_wo_category_count }}) |
<a href="{% url 'items_wo_room' %}">Items without room</a> ({{ items_wo_room_count }}) |
<a href="{% url 'family_items' %}">Items without owner (Family items)</a> ({{ family_items_count }})<br /><hr />

<ul>
    {% for item in items %}
    <li>
        <a href="{% url 'item' item.id %}">{{ item }}</a>
        {% for category in item.categories.all %}
            <a href="{% url 'category' category.id %}"><span class="badge badge-primary">{{ category }}</span></a>
        {% endfor %}
        {% if item.owner %}
            <a href="{% url 'user' item.owner.id %}"><span class="badge badge-info">{{ item.owner.get_full_name }}</span></a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}